<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Whoa, you made it all the way down here!</h2>
      <p class="subtitle subtitle--light">You must really be interested. Well, allow me tell you a bit more about myself.</p>
      <p>I have been working in the web industry for over 15 years. My skills include interactive design, prototyping, and front-end development. I’m interested in clean aesthetics, minimalism, and simplistic UX solutions.</p>
      <p>Companies I've worked with include TripAdvisor, SEGA, ATLUS, Tribune Publishing, and Barratt American.</p>
      <p>I’d love to learn about your company and see how I can help. Feel free to send me an email!</p>

      <a href="" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>